



<div class="d-flex flex-column flex-md-row">
  <!-- Sidebar -->
  <div
    class="sidebar text-white"
    [ngClass]="{
      'd-none': !sidebarVisible && isSmallScreen,
      'd-block': sidebarVisible || !isSmallScreen,
      'position-fixed h-100 z-3': isSmallScreen
    }"
    style="top: 0; left: 0;"
  >
    <div class="d-flex justify-content-between align-items-center mb-3 ps-3 pt-3 pe-3">
      <span class="fs-5 fw-semibold">VOICE FIRST</span>
      <!-- Close button only on small screens -->
      <i
        class="pi pi-times d-md-none"
        (click)="toggleSidebar()"></i>
    </div>
    <div  class="menu-list p-3">
      <ul class="ps-0" style="list-style: none;">
        <ng-container *ngFor="let item of menuItems">
          <ng-template
            [ngTemplateOutlet]="renderMenuItem"
            [ngTemplateOutletContext]="{ item: item }"
          ></ng-template>
        </ng-container>
      </ul>
    </div>
    
  </div>

  <!-- Main content -->
  <div
    class="flex-fill p-2"
   
    [class.ms-md-0]="isSmallScreen"
    [class.ms-0]="!sidebarVisible && isSmallScreen"
    [class.ms-md-25]="!isSmallScreen"

  >
  <div class="header">
    <div class="header-card">
      <div class="d-flex align-items-center justify-content-between w-100 px-3" style="height: 55px;">
  
        <!-- Left: Role + Sidebar Toggle -->
        <div class="role-selector dropdown d-flex align-items-center">
          <i class='bx bx-menu-alt-right nav-toggle d-md-none' (click)="toggleSidebar()"></i>
  
          <button class="role-selector-toggle btn dropdown-toggle d-flex align-items-center gap-2"
                  type="button" id="roleDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user-tag"></i>
            {{ selectedRole || 'Select Role' }}
          </button>
  
          <ul class="dropdown-menu role-selector-menu mt-2" aria-labelledby="roleDropdown">
            @for(role of loggedInUserRoles; track role.id) {
              <li>
                <a  class="role-selector-item dropdown-item" (click)="selectRole(role.roleName)"> 
                  {{ role.roleName }}
                </a>
              </li>
            }
          </ul>
        </div>
  
        <!-- Right: User Dropdown -->
        <div class="dropdown">
          <a class="d-flex align-items-center text-decoration-none dropdown-toggle user-dropdown-toggle text-white"
             href="#" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="loggedInUser?.picture || 'images/user-default.png'" alt="User Avatar"
                 width="30" height="30" class="rounded-circle me-2 user-avatar">
            <span class="fw-semibold me-2 font-size-10">{{ loggedInUser?.name }}</span>
          </a>
  
          <ul class="dropdown-menu shadow-sm p-2 mt-2 ms-2 user-dropdown" data-bs-display="static"
              aria-labelledby="userDropdown">
            <li><a class="dropdown-item"><i class="fa fa-user-cog me-2"></i> Manage Account</a></li>
            <li><a class="dropdown-item"><i class="fa fa-gears me-2"></i> Admin Console</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item text-danger d-flex align-items-center gap-2" (click)="logout()">
                <i class="fa-solid fa-arrow-right-from-bracket me-2"></i> Logout
              </a>
            </li>
          </ul>
        </div>
  
      </div>
    </div>
  </div>
  
   
  <div class="main-content-body p-4">
    <router-outlet></router-outlet>
  </div>
    
  </div>
</div>

<!-- Recursive template -->
<ng-template #renderMenuItem let-item="item">
  <li class="mb-1">
      <div
        class="btn btn-toggle align-items-center rounded w-100 text-start d-flex justify-content-between"
        (click)="!item.route ? toggleMenu(item.id) : null"
        [routerLink]="item.route ? item.route : null"
        [attr.aria-expanded]="isExpanded(item.id)"
        [class.collapsible]="!item.route"
        [class.active]=""
      >
      <!-- Left side: Icon + Name -->
      <div class="d-flex align-items-center" style="font-size: .9rem !important;">
        <div class="icon-container me-3">
          <i class="fa" [ngClass]="getMappedIcon(item.icon) || 'fa-atom'"></i>
        </div>
        {{ item.name }}
      </div>

      <!-- Right side: Arrow (only if children) -->
      <span
        *ngIf="!item.route"
        class="arrow-icon"
        [class.rotate]="isExpanded(item.id)"
      ><i class="pi pi-angle-down"></i></span>
    </div>

    <!-- Submenu -->
    <div
      class="submenu"
      [class.expanded]="isExpanded(item.id)"
      *ngIf="item.children?.length"
    >
      <ul class="btn-toggle-nav list-unstyled ps-3">
        <ng-container *ngFor="let child of item.children">
          <ng-template
            [ngTemplateOutlet]="renderMenuItem"
            [ngTemplateOutletContext]="{ item: child }"
          ></ng-template>
        </ng-container>
      </ul>
    </div>
  </li>
</ng-template>



