

<!-- Sidebar -->
<div class="l-navbar" [ngClass]="{ 'collapsed': !isSidebarExpanded }">
  <nav class="nav">
    <div>
      <div class="nav-brand">
        <a  routerLink="/company" class="nav-logo" *ngIf="isSidebarExpanded">
          <img src="/public/images/logo-vf.png" alt="logo" width="40"/>
        </a>
        <i class='bx bx-menu-alt-right nav-toggle' (click)="toggleSidebar()"></i>
      </div>

      <div class="menu-scroll flex-grow-1 overflow-auto">
        <ul class="list-unstyled mb-0 px-0">
          <ng-container *ngTemplateOutlet="renderMenu; context: { items: menuItems, isRoot: true }"></ng-container>
        </ul>
      </div>

      <div class="mt-auto">
        <div class="menu-item text-white" (click)="logout()">
          <span class="label-content">
            <div class="icon-container me-1">
              <i class="fa-solid fa-right-from-bracket me-2"></i>
            </div>
            <span *ngIf="isSidebarExpanded">Logout</span>
          </span>
        </div>
      </div>
  
    </div>
  </nav>
</div>

<div class="header">
  
</div>


<div class="main-content" [ngClass]="{ 'body-pd': !isSidebarExpanded }">

  <router-outlet></router-outlet>
  
</div>




<!-- Recursive Template -->
<ng-template #renderMenu let-items="items" let-isRoot="isRoot" let-depth="depth">
  <ng-container *ngFor="let item of items">
    <li>
      <div
        class="menu-item d-flex align-items-center py-2 px-3"
        (click)="!item.t7_2_route && item.children?.length ? toggleMenu(item.id_t7_2_menu) : null"
      >

      
        <a
          *ngIf="item.t7_2_route"
          [routerLink]="item.t7_2_route"
          class="label-content text-decoration-none d-flex align-items-center"
        >
          <!-- Root items use icon-container -->
          <ng-container *ngIf="isRoot; else subIcon">
            <div class="icon-container me-1">
              <i class="fa" [ngClass]="item.icon || 'fa-atom'"></i>
            </div>
          </ng-container>

          <!-- Submenu icon (no square background) -->
          <ng-template #subIcon>
            <i class="fa me-2" [ngClass]="item.icon || 'fa-angle-right'"></i>
          </ng-template>

          <span *ngIf="isSidebarExpanded">{{ item.t7_2_menu_name }}</span>
        </a>

        <span *ngIf="!item.t7_2_route" class="menu-label d-flex align-items-center w-100">
          <span class="label-content d-flex align-items-center">
            <ng-container *ngIf="isRoot; else subIconLabel">
              <div class="icon-container me-1">
                <i class="fa" [ngClass]="item.icon || 'fa-atom'"></i>
              </div>
            </ng-container>

            <ng-template #subIconLabel>
              <i class="fa me-2" [ngClass]="item.icon || 'fa-angle-right'"></i>
            </ng-template>

            <span *ngIf="isSidebarExpanded">{{ item.t7_2_menu_name }}</span>
          </span>
          <i
            *ngIf="item.children?.length"
            class="arrow fa-solid fa-angle-right ms-auto"
            [ngClass]="{ open: isExpanded(item.id_t7_2_menu) }"
          ></i>
        </span>
      </div>

      <ul
        *ngIf="item.children?.length && isExpanded(item.id_t7_2_menu)"
        class="submenu" 
        [ngClass]="'depth-' + (depth + 1)"
      >
        <ng-container
          *ngTemplateOutlet="renderMenu; context: { items: item.children, isRoot: false, depth: (depth + 1) }"
        ></ng-container>
      </ul>
    </li>
  </ng-container>
  
</ng-template>


