<div>
    <h3>Manage Divisions</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin/admin-dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/admin/country">Country</a></li>
            <li class="breadcrumb-item active" aria-current="page">Divisions</li>
        </ol>
    </nav>
</div>


<div class="card-container py-4 p-4">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="d-flex align-items-center">
            <a href="#" class="text-secondary me-2">
                <i class="bi bi-arrow-left fs-4"></i>
            </a>
            <h1 class="h4 mb-0">United States</h1>
        </div>

    </div>

    <!-- Cards Row -->
    <div class="row g-4">
        <!-- Division One  -->
        <div class="col-12 col-md-4">
            <div class="card h-100">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2 class="h6 mb-0">States</h2>
                    <div class="d-flex gap-2">
                        <div class="tooltip-container">
                            <button class="btn btn-primary btn-sm tooltip-button" (click)="openDivisionOneModal()">
                                <i class="pi pi-plus"></i>
                                <span class="tooltipText">Add State</span>
                            </button>
                        </div>
                        <div class="tooltip-container">
                            <button class="btn btn-danger btn-sm tooltip-button"
                                [disabled]="selectedDivisionOneIds.length === 0">
                                <i class="pi pi-trash text-white" (click)="deleteDivisionOne()"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Search -->
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="pi pi-search"></i></span>
                        <input type="text" class="form-control" placeholder="Search State"
                            [(ngModel)]="searchTermDivisionOne" (input)="onSearchDivisionOne()">
                    </div>
                    <!-- List -->
                    <ul class="list-group division-list overflow-auto mb-2"
                        style="max-height: 500px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;border: none;">

                        @for (item of divisionOneList; track item) {
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                            [class.active]="item.id === selectedDivisionOneId" (click)="getDivisionTwo(item.id)"
                            style="cursor: pointer;">
                            <div>
                                <input class="form-check-input me-2" type="checkbox"
                                    [checked]="selectedDivisionOneIds?.includes(item.id)"
                                    (click)="$event.stopPropagation()"
                                    (change)="toggleDivisionOneSelection(item.id, $event)">
                                {{item.divisionOne}}
                            </div>
                            <i class="pi pi-pen-to-square"></i>
                        </li>
                        }

                    </ul>
                </div>
            </div>
        </div>

        <!-- Division Two  -->
        <div class="col-12 col-md-4">
            <div class="card h-100">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2 class="h6 mb-0">Districts (California)</h2>
                    <div class="d-flex gap-2">
                        <div class="tooltip-container">
                            <button class="btn btn-primary btn-sm tooltip-button" (click)="openDivisionTwoModal()">
                                <i class="pi pi-plus"></i>
                                <span class="tooltipText">Add District</span>
                            </button>
                        </div>
                        <div class="tooltip-container">
                            <button class="btn btn-danger btn-sm tooltip-button"
                                [disabled]="selectedDivisionOneIds.length === 0">
                                <i class="pi pi-trash text-white" (click)="deleteDivisionTwo()"></i>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <!-- Search -->
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="pi pi-search"></i></span>
                        <input type="text" class="form-control" placeholder="Search State"
                            [(ngModel)]="searchTermDivisionOne" (input)="onSearchDivisionOne()">
                    </div>
                    <!-- LIST -->
                    <ul class="list-group division-list overflow-auto mb-2"
                        style="max-height: 500px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;border: none;">

                        @for (item of divisionTwoList; track item) {
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                            [class.active]="item.id === selectedDivisionTwoId" (click)="getDivisionTwo(item.id)"
                            style="cursor: pointer;">
                            <div>
                                <input class="form-check-input me-2" type="checkbox"
                                    [checked]="selectedDivisionTwoIds?.includes(item.id)"
                                    (click)="$event.stopPropagation()"
                                    (change)="toggleDivisionTwoSelection(item.id, $event)">
                                {{item.divisionTwo}}
                            </div>
                            <i class="pi pi-pen-to-square"></i>
                        </li>
                        }
                        @empty {
                        <li class="list-group-item">
                            <p>No data found</p>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <!-- Division Three -->
        <div class="col-12 col-md-4">
            <div class="card h-100">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2 class="h6 mb-0">Cities (Los Angeles County)</h2>
                    <div class="d-flex gap-2">
                        <div class="tooltip-container">
                            <button class="btn btn-primary btn-sm tooltip-button">
                                <i class="pi pi-plus"></i>
                                <span class="tooltipText">Add State</span>
                            </button>
                        </div>
                        <div class="tooltip-container">
                            <button class="btn btn-danger btn-sm tooltip-button"
                                [disabled]="selectedDivisionOneIds.length === 0">
                                <i class="pi pi-trash text-white"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Search -->
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="pi pi-search"></i></span>
                        <input type="text" class="form-control" placeholder="Search State"
                            [(ngModel)]="searchTermDivisionOne" (input)="onSearchDivisionOne()">
                    </div>
                    <!-- lIST -->
                    <ul class="list-group division-list overflow-auto mb-2"
                        style="max-height: 500px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;border: none;">

                        @for (item of divisionOneList; track item) {
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                            [class.active]="item.id === selectedDivisionOneId" (click)="getDivisionTwo(item.id)"
                            style="cursor: pointer;">
                            <div>
                                <input class="form-check-input me-2" type="checkbox"
                                    [checked]="selectedDivisionOneIds?.includes(item.id)"
                                    (click)="$event.stopPropagation()"
                                    (change)="toggleDivisionOneSelection(item.id, $event)">
                                {{item.divisionOne}}
                            </div>
                            <i class="pi pi-pen-to-square"></i>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
@if(isDivisionOneModalVisible){
<div class="overlay">
    <div class="modal-content-2">
        <i class="fa-solid fa-xmark text-end w-100" (click)="closeModal()"></i>
        <h4 class="mb-3">{{ isEditMode ? 'Edit Division One' : 'Add Division One' }}</h4>

        <form [formGroup]="divisionOneForm" (ngSubmit)="submitDivisionOne()">
            <div class="form-group mb-3">
                <label for="roleName" class="mb-2">Name</label>
                <input type="text" class="form-control" id="divisionOne" placeholder="Enter division one name"
                    formControlName="divisionOne">
                @if(divisionOneForm.get('divisionOne')?.invalid && divisionOneForm.get('divisionOne')?.touched){
                <small class="text-danger">Division one name is required</small>
                }
            </div>
            <div class="form-group">
                <button type="submit" class="btn mt-4 w-100" [ngClass]="isEditMode ? 'btn-success' : 'btn-primary'">
                    {{ isEditMode ? 'Save Changes' : 'Add' }}
                </button>
            </div>
        </form>
    </div>

</div>
}
<!-- two modal -->
@if(isDivisionTwoModalVisible){
<div class="overlay">
    <div class="modal-content-2">
        <i class="fa-solid fa-xmark text-end w-100" (click)="closeModal()"></i>
        <h4 class="mb-3">{{ isEditMode ? 'Edit Division Two' : 'Add Division Two' }}</h4>

        <form [formGroup]="divisionTwoForm" (ngSubmit)="submitDivisionTwo()">
            <div class="form-group mb-3">
                <label for="roleName" class="mb-2">Name</label>
                <input type="text" class="form-control" id="divisionTwo" placeholder="Enter division Two name"
                    formControlName="divisionTwo">
                @if(divisionTwoForm.get('divisionTwo')?.invalid && divisionTwoForm.get('divisionTwo')?.touched){
                <small class="text-danger">Division two name is required</small>
                }
            </div>
            <div class="form-group">
                <button type="submit" class="btn mt-4 w-100" [ngClass]="isEditMode ? 'btn-success' : 'btn-primary'">
                    {{ isEditMode ? 'Save Changes' : 'Add' }}
                </button>
            </div>
        </form>
    </div>

</div>
}