<div>
    <h3>Manage Divisions</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin/admin-dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/admin/country">Country</a></li>
            <li class="breadcrumb-item active" aria-current="page">Divisions</li>
        </ol>
    </nav>
</div>


<div class="card-container py-4 p-4">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="d-flex align-items-center">
            <a href="#" class="text-secondary me-2">
                <i class="bi bi-arrow-left fs-4"></i>
            </a>
            <h1 class="h4 mb-0">{{country?.country}}</h1>
        </div>

    </div>

    <!-- Cards Row -->
    <div class="row g-4">
        <!-- Division One  -->
         @if(country?.divisionOneLabel!==''){
        <div class="col-12 col-md">
            <div class="card h-100">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2 class="h6 mb-0">{{country?.divisionOneLabel}}</h2>
                    <div class="d-flex gap-2">
                        <div class="tooltip-container">
                            <button class="btn btn-primary btn-sm tooltip-button" (click)="openDivisionModal('one')">
                                <i class="pi pi-plus"></i>
                                <span class="tooltipText">Add {{country?.divisionOneLabel}}</span>
                            </button>
                        </div>
                        <div class="tooltip-container">
                            <button class="btn btn-danger btn-sm tooltip-button"
                                [disabled]="selectedDivisionOneIds.length === 0" (click)="deleteDivisionOne()">
                                <i class="pi pi-trash text-white"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Search -->
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="pi pi-search"></i></span>
                        <input type="text" class="form-control" placeholder="Search {{country?.divisionOneLabel}}"
                            [(ngModel)]="searchTermDivisionOne" (input)="onSearchDivisionOne()">
                    </div>
                    <!-- List -->
                    <ul class="list-group division-list overflow-auto mb-2 p-2"
                        style="max-height: 500px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;border: none;">

                        @for (item of divisionOneList; track item) {
                        <li class="list-group-item division-item"
                            [class.active-custom]="item.id === selectedDivisionOneId && country?.divisionTwoLabel!==''"
                            (click)="getDivisionTwo(item.id)">
                          
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                              <input class="form-check-input me-2" type="checkbox"
                                     [checked]="selectedDivisionOneIds.includes(item.id)"
                                     (click)="$event.stopPropagation()"
                                     (change)="toggleDivisionOneSelection(item.id, $event)">
                              <span class="division-label">{{ item.divisionOne }}</span>
                            </div>
                            <div class="d-flex">
                                <span
                                  class="badge"
                                [ngClass]="item.status ? 'status-active' : 'status-inactive'"       
                                  style="cursor: pointer;"
                                  (click)="toggleDivisionStatus(item, 'one')">
                                  {{ item.status ? 'Active' : 'Inactive' }}
                                </span>
                                <i class="pi pi-pen-to-square edit-icon" (click)="openDivisionModal('one', item)"></i>
                              </div>
                              
                            
                          </div>
                        </li>
                        }
                        @empty {
                            <li class="list-group-item division-item d-flex justify-content-center align-items-center">
                                <p class="mb-0">No data found</p>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
        }
        <!-- Division Two  -->
         @if(country?.divisionTwoLabel!==''){
        <div class="col-12 col-md">
            <div class="card h-100">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2 class="h6 mb-0">{{country?.divisionTwoLabel}}</h2>
                    <div class="d-flex gap-2">
                        <div class="tooltip-container">
                            <button class="btn btn-primary btn-sm tooltip-button" (click)="openDivisionModal('two')">
                                <i class="pi pi-plus"></i>
                                <span class="tooltipText">Add {{country?.divisionTwoLabel}}</span>
                            </button>
                        </div>
                        <div class="tooltip-container">
                            <button class="btn btn-danger btn-sm tooltip-button"
                                [disabled]="selectedDivisionTwoIds.length === 0" (click)="deleteDivisionTwo()">
                                <i class="pi pi-trash text-white"></i>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <!-- Search -->
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="pi pi-search"></i></span>
                        <input type="text" class="form-control" placeholder="Search {{country?.divisionTwoLabel}}"
                            [(ngModel)]="searchTermDivisionTwo" (input)="onSearchDivisionTwo()">
                    </div>
                    <!-- LIST -->
                    <ul class="list-group division-list overflow-auto mb-2 p-2"
                        style="max-height: 500px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;border: none;">

                        @for (item of divisionTwoList; track item) {

                        <li class="list-group-item division-item"
                            [class.active-custom]="item.id === selectedDivisionTwoId && country?.divisionThreeLabel!==''"
                            (click)="country?.divisionThreeLabel !== '' && getDivisionThree(item.id)">
                          
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                              <input class="form-check-input me-2" type="checkbox"
                                     [checked]="selectedDivisionTwoIds.includes(item.id)"
                                     (click)="$event.stopPropagation()"
                                     (change)="toggleDivisionTwoSelection(item.id, $event)">
                              <span class="division-label">{{ item.divisionTwo }}</span>
                            </div>
                            <div class="d-flex">
                                <span
                                  class="badge"
                                [ngClass]="item.status ? 'status-active' : 'status-inactive'"
                                  style="cursor: pointer;"
                                  (click)="toggleDivisionStatus(item, 'two')">
                                  {{ item.status ? 'Active' : 'Inactive' }}
                                </span>
                                <i class="pi pi-pen-to-square edit-icon" (click)="openDivisionModal('two', item)"></i>
                              </div>
                              
                            
                          </div>
                        </li>
                        }
                        @empty {
                            <li class="list-group-item division-item d-flex justify-content-center align-items-center">
                                <p class="mb-0">No data found</p>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        }

        <!-- Division Three -->
         @if(country?.divisionThreeLabel!==''){
        <div class="col-12 col-md">
            <div class="card h-100">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2 class="h6 mb-0">{{country?.divisionThreeLabel}}</h2>
                    <div class="d-flex gap-2">
                        <div class="tooltip-container">
                            <button class="btn btn-primary btn-sm tooltip-button" (click)="openDivisionModal('three')">
                                <i class="pi pi-plus"></i>
                                <span class="tooltipText">Add {{country?.divisionThreeLabel}}</span>
                            </button>
                        </div>
                        <div class="tooltip-container">
                            <button class="btn btn-danger btn-sm tooltip-button"
                                [disabled]="selectedDivisionThreeIds.length === 0"  (click)="deleteDivisionThree()">
                                <i class="pi pi-trash text-white"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Search -->
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="pi pi-search"></i></span>
                        <input type="text" class="form-control" placeholder="Search {{country?.divisionThreeLabel}}"
                            [(ngModel)]="searchTermDivisionThree" (input)="onSearchDivisionThree()">
                    </div>
                    <!-- lIST -->
                    <ul class="list-group division-list overflow-auto mb-2 p-2"
                        style="max-height: 500px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;border: none;">

                        @for (item of divisionThreeList; track item) {

                        <li class="list-group-item division-item"
                        [class.active-custom]="item.id === selectedDivisionThreeId">
                      
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <input class="form-check-input me-2" type="checkbox"
                                 [checked]="selectedDivisionThreeIds.includes(item.id)"
                                 (click)="$event.stopPropagation()"
                                 (change)="toggleDivisionThreeSelection(item.id, $event)">
                          <span class="division-label">{{ item.divisionThree }}</span>
                        </div>
                    
                        <div class="d-flex">
                            <span
                              class="badge"
                              [ngClass]="item.status ? 'status-active' : 'status-inactive'"
                              style="cursor: pointer;"
                              (click)="toggleDivisionStatus(item, 'three')">
                              {{ item.status ? 'Active' : 'Inactive' }}
                            </span>
                            <i class="pi pi-pen-to-square edit-icon" (click)="openDivisionModal('three', item)"></i>
                          </div>
                          
                      </div>
                    </li>
                        }

                        @empty {
                            <li class="list-group-item division-item d-flex justify-content-center align-items-center">
                                <p class="mb-0">No data found</p>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
    </div>
</div>

<!-- Modal -->
@if(isDivisionOneModalVisible){
<div class="overlay">
    <div class="modal-content-2">
        <i class="fa-solid fa-xmark text-end w-100" (click)="closeModal()"></i>
        <h4 class="mb-3">
            {{ isEditMode ? ('Edit ' + (country?.divisionOneLabel || 'Division One')) : ('Add ' + (country?.divisionOneLabel || 'Division One')) }}
        </h4>

        <form [formGroup]="divisionOneForm" (ngSubmit)="submitDivisionOne()">
            <div class="form-group mb-3">
                <label for="roleName" class="mb-2">Name</label>
                <input type="text" class="form-control" id="divisionOne" placeholder="Enter {{country?.divisionOneLabel}}"
                    formControlName="divisionOne">
                @if(divisionOneForm.get('divisionOne')?.invalid && divisionOneForm.get('divisionOne')?.touched){
                <small class="text-danger">This field is required</small>
                }
            </div>
            <div class="form-group">
                <button type="submit" class="btn mt-4 w-100" [ngClass]="isEditMode ? 'btn-success' : 'btn-primary'">
                    {{ isEditMode ? 'Save Changes' : 'Add' }}
                </button>
            </div>
        </form>
    </div>

</div>
}
<!-- two modal -->
@if(isDivisionTwoModalVisible){
<div class="overlay">
    <div class="modal-content-2">
        <i class="fa-solid fa-xmark text-end w-100" (click)="closeModal()"></i>
        <h4 class="mb-3">
            {{ isEditMode ? ('Edit ' + (country?.divisionTwoLabel || 'Division Two')) : ('Add ' + (country?.divisionTwoLabel || 'Division Two')) }}
        </h4>

        <form [formGroup]="divisionTwoForm" (ngSubmit)="submitDivisionTwo()">
            <div class="form-group mb-3">
                <label for="roleName" class="mb-2">Name</label>
                <input type="text" class="form-control" id="divisionTwo" placeholder="Enter {{country?.divisionTwoLabel}}"
                    formControlName="divisionTwo">
                @if(divisionTwoForm.get('divisionTwo')?.invalid && divisionTwoForm.get('divisionTwo')?.touched){
                <small class="text-danger">This field is required</small>
                }
            </div>
            <div class="form-group">
                <button type="submit" class="btn mt-4 w-100" [ngClass]="isEditMode ? 'btn-success' : 'btn-primary'">
                    {{ isEditMode ? 'Save Changes' : 'Add' }}
                </button>
            </div>
        </form>
    </div>

</div>
}

<!-- three modal -->
@if(isDivisionThreeModalVisible){
    <div class="overlay">
        <div class="modal-content-2">
            <i class="fa-solid fa-xmark text-end w-100" (click)="closeModal()"></i>
            <h4 class="mb-3">{{ isEditMode ? ('Edit ' + (country?.divisionThreeLabel || 'Division Three')) : ('Add ' + (country?.divisionThreeLabel || 'Division Three')) }}</h4>
    
            <form [formGroup]="divisionThreeForm" (ngSubmit)="submitDivisionThree()">
                <div class="form-group mb-3">
                    <label for="roleName" class="mb-2">Name</label>
                    <input type="text" class="form-control" id="divisionThree" placeholder="Enter {{country?.divisionThreeLabel}}"
                        formControlName="divisionThree">
                    @if(divisionThreeForm.get('divisionThree')?.invalid && divisionThreeForm.get('divisionThree')?.touched){
                    <small class="text-danger">This field is required</small>
                    }
                </div>
                <div class="form-group">
                    <button type="submit" class="btn mt-4 w-100" [ngClass]="isEditMode ? 'btn-success' : 'btn-primary'">
                        {{ isEditMode ? 'Save Changes' : 'Add' }}
                    </button>
                </div>
            </form>
        </div>
    
    </div>
}