<div>
    <h3>Manage Company Answer Type </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin/admin-dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Answer Type</li>
        </ol>
    </nav>


    <div class="row gx-3 mt-5 mb-3">

        <div class="col-md-8">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-wrap gap-2 align-items-center">
                  <div class="input-group w-auto" style="min-width: 300px;">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search"
                      [(ngModel)]="searchTerm"
                      (input)="onSearch()"
                    />
                  </div>
                  <select
                    class="form-select w-auto"
                    [(ngModel)]="statusFilter"
                    (change)="onStatusFilterChange()"
                  >
                    <option value="">All Status</option>
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                  </select>
                </div>
                <div class="tooltip-container mb-0">
                  <button class="btn btn-primary tooltip-button mt-1" (click)="openModal()">
                    <i class="pi pi-plus"></i>
                    <span class="tooltipText">Add Answer Type</span>
                  </button>
                </div>
              </div>
            <div class="card p-4 mt-3 mb-3">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-light">
                            <tr>
                                <th>
                                    <input type="checkbox" class="form-check-input"
                                        [checked]="pagedData.length > 0 && isAllSelected"
                                        [disabled]="pagedData.length === 0" (change)="toggleSelectAll($event)" />
                                </th>
                                <th>Name</th>
                                <th>Status</th>
                                <th class="text-end">
                                    <button class="delete-btn btn-danger" (click)="deleteAnswerType()"
                                        [disabled]="selectedAnswerTypeIds.length === 0">
                                        <i class="pi pi-trash text-white"></i>
                                    </button>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @for (item of pagedData; track item) {
                            <tr>
                                <td> <input type="checkbox" class="form-check-input"
                                        [checked]="selectedAnswerTypeIds.includes(item.id)"
                                        (change)="toggleSelection(item.id, $event)" />
                                </td>
                                <td>{{ item.companyAnswerTypeName }}</td>
                                <td>
                                    <span class="badge" [ngClass]="item.status ? 'bg-success' : 'bg-secondary'"
                                        style="cursor: pointer;" (click)="toggleStatus(item)">
                                        {{ item.status ? 'Active' : 'Inactive' }}
                                    </span>
                                </td>
                                <td class="text-end">
                                    <i class="pi pi-pen-to-square fw-bold" *ngIf="!item.answerTypeId"
                                        (click)="openModal(item)"></i>

                                </td>
                            </tr>
                            }

                            @empty {
                            <tr>
                                <td colspan="3" class="text-center">No data found</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>


            </div>

            <!-- Pagination Controls -->
            <nav class="d-flex justify-content-end">
                <ul class="pagination custom-pagination">
                    <li class="page-item" [class.disabled]="currentPage === 1">
                        <a class="page-link" (click)="previousPage()"><i class="fa-solid fa-angle-left"></i></a>
                    </li>
                    @for (page of totalPagesArray; track page) {
                    <li class="page-item" [class.active]="page === currentPage">
                        <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
                    </li>
                    }
                    <li class="page-item" [class.disabled]="currentPage === totalPages">
                        <a class="page-link" (click)="nextPage()"><i class="fa-solid fa-angle-right"></i></a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="col-md-4">
            <div class="card p-3">
                <h5 class="fw-bold">System Answer Type</h5>
                <p class="text-muted mb-2">
                    Select the system Answer Type that apply to this company.
                </p>
                <div class="input-group w-auto" >
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search"
                      [(ngModel)]="searchSysTerm"
                      (input)="onSysSearch()"
                      style="font-size: 14px;"
                    />
                  </div>
                <div class="table-responsive mt-3" style="max-height: 560px; overflow-y: auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (answerType of filteredSysData; track answerType) {
                            <tr>
                                <td>
                                    <input type="checkbox" [checked]="answerType.selected"
                                        [disabled]="answerType.selected" (change)="toggleAnswerType(answerType)" />
                                </td>
                                <td>{{ answerType.answerTypeName }}</td>
                            </tr>
                            }
                            @empty {
                            <tr>
                                <td colspan="3" class="text-center">No data found</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Modal -->

@if(isModalVisible){
<div class="overlay">
    <div class="modal-content-2">
        <i class="fa-solid fa-xmark text-end w-100" (click)="closeModal()"></i>
        <h4 class="mb-3">{{ isEditMode ? 'Edit Answer Type' : 'Add Answer Type' }}</h4>

        <form class="mt-3" [formGroup]="answerTypeForm" (ngSubmit)="submitAnswerType()">

            <div class="form-group">
                <label for="name" class="mb-2">Answer Type</label>
                <input type="text" class="form-control" id="companyAnswerTypeName" placeholder="Enter Answer Type Name"
                    formControlName="companyAnswerTypeName"
                    [ngClass]="{'is-invalid': answerTypeForm.get('companyAnswerTypeName')?.invalid && answerTypeForm.get('companyAnswerTypeName')?.touched}" />
                <div class="invalid-feedback"
                    *ngIf="answerTypeForm.get('companyAnswerTypeName')?.touched && answerTypeForm.get('companyAnswerTypeName')?.hasError('required')">
                    Answer Type Name is required.
                </div>
            </div>


            <div class="col-md d-flex align-items-end">
                <button type="submit" class="btn mt-4 w-100" [ngClass]="isEditMode ? 'btn-success' : 'btn-primary'">
                    {{ isEditMode ? 'Save Changes' : 'Add' }}
                </button>
            </div>

        </form>
    </div>
</div>
}