<div>
    <h3>Manage System Roles</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin/admin-dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Roles</li>
        </ol>
    </nav>

    <div class="page-header d-flex justify-content-between mb-3 mt-4">
        <input
        type="text"
        class="form-control w-25"
        placeholder="Search"
        [(ngModel)]="searchTerm"
        (input)="onSearch()"
        />
        <button class="btn btn-primary" (click)="openModal()">Add</button>
    </div>
<div class="table-responsive">
  <table class="table">
    <thead class="table-light">
        <tr>
  <th>#</th>
  <th>Role Name</th>
  <th class="text-center">All Location Access</th>
  <th class="text-center">All Issue Access</th>
  <th></th>
</tr>
</thead>
<tbody>
@for (item of pagedData; track item) {
<tr>
  <td>{{ (currentPage - 1) * itemsPerPage + pagedData.indexOf(item) + 1 }}</td>
  <td>{{ item.roleName }}</td>
  <td class="text-center" [innerHTML]="item.allLocationAccess ? checkIcon : crossIcon "></td>
  <td class="text-center" [innerHTML]="item.allIssueAccess ? checkIcon : crossIcon "></td>
  <td class="text-end gap-2">
    <i class="pi pi-pen-to-square fw-bold" (click)="editRole(item)"></i>&nbsp;
    <i class="pi pi-trash fw-bold" (click)="deleteRole(item)"></i>
  </td>
</tr>
}

@empty {
  <tr>
    <td colspan="4" class="text-center">No data found</td>
  </tr>
}
</tbody>
</table>
</div>


<!-- Pagination Controls -->
<nav class="d-flex justify-content-end">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="previousPage()"><i class="fa-solid fa-angle-left"></i></a>
    </li>
    @for (page of totalPagesArray; track page) {
      <li class="page-item" [class.active]="page === currentPage">
        <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
      </li>
    }
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="nextPage()"><i class="fa-solid fa-angle-right"></i></a>
    </li>
  </ul>
</nav>

</div>


<!-- Modal -->

@if(isModalVisible){
<div class="overlay" >
<div class="modal-content">
  <i class="fa-solid fa-xmark text-end" (click)="closeModal()"></i>
  <h4>Add Role</h4>
  
  <form [formGroup]="roleForm">
    <div class="form-group">
      <label for="roleName">Role Name</label>
      <input type="text" class="form-control" id="roleName" formControlName="roleName" placeholder="Enter role name">
    </div>
    <div class="d-flex justify-content-center gap-5 mb-2 mt-4">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="allLocationAccess" formControlName="allLocationAccess">
        <label class="form-check-label" for="allLocationAccess" >All Location Access</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="allIssueAccess"  formControlName="allIssueAccess">
        <label class="form-check-label" for="allIssueAccess">All Issue access</label>
      </div>
    </div>
   
    <h6 class="fw-bold">Permissions</h6>
    <div formGroupName="permissions" class="table-responsive">
      <table class="table table-bordered text-start table-hover align-middle">
        <thead class="table-light text-center">
          <tr>
            <th >Module</th>
            <th>Add</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
            <th>Print</th>
            <th>Export</th>
            <th>Import</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mod of modules">
            <td class="text-capitalize">{{ mod.programName }}</td>
            <td class="text-center"><input type="checkbox" formControlName="add" class="form-check-input" /></td>
            <td class="text-center"><input type="checkbox" formControlName="edit" class="form-check-input" /></td>
            <td class="text-center"><input type="checkbox" formControlName="delete" class="form-check-input" /></td>
            <td class="text-center"><input type="checkbox" formControlName="view" class="form-check-input" /></td>
            <td class="text-center"><input type="checkbox" formControlName="print" class="form-check-input" /></td>
            <td class="text-center"><input type="checkbox" formControlName="export" class="form-check-input" /></td>
            <td class="text-center"><input type="checkbox" formControlName="import" class="form-check-input" /></td>
            <td class="text-center"><input type="checkbox" formControlName="download" class="form-check-input" /></td>
          </tr>
        </tbody>
      </table>
     
    </div>



    <button class="btn btn-primary w-100 mt-4" (click)="addRole()">Add</button>
  </form>
</div>

</div>
}

<!-- Edit Role Modal -->
@if(isEditModalVisible) {
<div class="overlay">
  <div class="modal-content">
    <i class="fa-solid fa-xmark text-end" (click)="closeModal()"></i>
    <h4>Edit Role</h4>
    <form [formGroup]="roleForm">
      <div class="form-group">
        <label for="editRoleName">Role Name</label>
        <input type="text" class="form-control" id="editRoleName" formControlName="roleName" placeholder="Enter role name">
      </div>
      <div class="d-flex justify-content-center gap-5 mb-2 mt-4">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="editAllLocationAccess" formControlName="allLocationAccess">
          <label class="form-check-label" for="editAllLocationAccess">All Location Access</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="editAllIssueAccess" formControlName="allIssueAccess">
          <label class="form-check-label" for="editAllIssueAccess">All Issue access</label>
        </div>
      </div>
       <h6 class="fw-bold">Permissions</h6>
    <div formGroupName="permissions" class="table-responsive">
      <table class="table table-bordered text-start table-hover align-middle">
        <thead class="table-light text-center">
          <tr>
            <th >Module</th>
            <th>Add</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
            <th>Print</th>
            <th>Export</th>
            <th>Import</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mod of modules" [formGroupName]="mod.id.toString()">
            <td class="text-capitalize">{{ mod.programName }}</td>
            <td class="text-center"><input type="checkbox" formControlName="add" class="form-check-input" /></td>
            <td class="text-center"><input type="checkbox" formControlName="edit" class="form-check-input" /></td>
            <td class="text-center"><input type="checkbox" formControlName="delete" class="form-check-input" /></td>
            <td class="text-center"><input type="checkbox" formControlName="view" class="form-check-input" /></td>
            <td class="text-center"><input type="checkbox" formControlName="print" class="form-check-input" /></td>
            <td class="text-center"><input type="checkbox" formControlName="export" class="form-check-input" /></td>
            <td class="text-center"><input type="checkbox" formControlName="import" class="form-check-input" /></td>
            <td class="text-center"><input type="checkbox" formControlName="download" class="form-check-input" /></td>
          </tr>
        </tbody>
      </table>
     
    </div>
      <button class="btn btn-success w-100 mt-4" (click)="saveChanges()">Save Changes</button>
    </form>
  </div>
</div>
}

