<div>
    <h3>Manage System Roles</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin/admin-dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Roles</li>
        </ol>
    </nav>

    <div class="page-header d-flex justify-content-between mb-3 mt-4">
        <input
        type="text"
        class="form-control w-25"
        placeholder="Search"
        [(ngModel)]="searchTerm"
        (input)="onSearch()"
        />
        <button class="btn btn-primary" (click)="openModal()">Add</button>
    </div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First</th>
      <th>Last</th>
      <th>Handle</th>
    </tr>
  </thead>
  <tbody>
    @for (item of pagedData; track item) {
    <tr>
      <td>{{ (currentPage - 1) * itemsPerPage + pagedData.indexOf(item) + 1 }}</td>
      <td>{{ item.first }}</td>
      <td>{{ item.last }}</td>
      <td>{{ item.handle }}</td>
    </tr>
    }

    @empty {
      <tr>
        <td colspan="4" class="text-center">No data found</td>
      </tr>
    }
  </tbody>
</table>

<!-- Pagination Controls -->
<nav class="d-flex justify-content-end">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="previousPage()"><i class="fa-solid fa-angle-left"></i></a>
    </li>
    @for (page of totalPagesArray; track page) {
      <li class="page-item" [class.active]="page === currentPage">
        <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
      </li>
    }
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="nextPage()"><i class="fa-solid fa-angle-right"></i></a>
    </li>
  </ul>
</nav>

</div>


<!-- Modal -->

@if(isModalVisible){
<div class="overlay" >
<div class="modal-content">
  <i class="fa-solid fa-xmark text-end" (click)="closeModal()"></i>
  <h4>Add Role</h4>
  
  <form>
    <div class="form-group">
      <label for="roleName">Role Name</label>
      <input type="text" class="form-control" id="roleName" placeholder="Enter role name">
    </div>
  </form>
</div>

</div>
}
