.card-container {
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}

.tags-container{
    border: 1px solid;
    height:100%
}

.dropdown-menu-container{
    width: 355px;
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 10px -1px 0px 0px;
    transform: translate(0px, 40px);
    max-height: 200px;
    overflow: auto;
}

.btn-outline-secondary{
    border-color: #dee2e6;
}

.btn-outline-secondary:hover{
    background-color: none;
}

  .btn-xs {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1;
    border-radius: 0.2rem;
  }

  .status-active {
    background-color: #d1f7e4;
    color: #1a7f4d;
  }
  
  .status-inactive {
    background-color: #fce1e1;
    color: #a94442;
  }

  .btn-outline-secondary{
    color: black;
  }

  .btn-outline-secondary:hover, .btn-outline-secondary:focus{
    background: rgb(255, 255, 255);
    color: black;
  }

  /* Target scrollable areas */
.table-responsive::-webkit-scrollbar {
  width: 3px;
  /* Thin scrollbar */
}

.table-responsive::-webkit-scrollbar-track {
  background: transparent;
  /* Optional: transparent track */
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #ccc;
  /* Light gray thumb */
  border-radius: 4px;
  /* Rounded edges */
}

/* Remove scrollbar buttons (up/down arrows) */
.table-responsive::-webkit-scrollbar-button {
  display: none;
}
