<div>
    <h3>Issue Type Details</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin/admin-dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/admin/system-issue-type">Issue Type</a></li>
            <li class="breadcrumb-item active" aria-current="page">Issue Type Details</li>
        </ol>
    </nav>
    <div class="card-container p-4">

    <form [formGroup]="issueTypeForm" class="mt-3" >

      <!-- Issue Type Name -->
       <div class="row mb-3">
         <div class="col-md-6">
            <div class="formGroup mb-4">
              <label for="issueTypeName" class="form-label">Issue Type Name</label>
              <input type="text" id="issueTypeName" class="form-control" placeholder="Enter issue type name" formControlName="issueType" required [readOnly]="!isEdit">
            </div>
            <div class="formGroup mb-4">
               <label for="issueTypeName" class="form-label">Attachment Types</label>
  <!-- Attachment Type Dropdown -->
              <div class="dropdown flex-grow-1 mb-3">
                <button class="btn btn-outline-secondary dropdown-toggle w-100 text-start" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" [disabled]="!isEdit">
                  {{ selectedAttachmentLabel }}
                </button>

                <ul class="dropdown-menu p-3" style="max-height: 250px;overflow-y: auto;">
                  <li class="mb-2">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search"  
                      [(ngModel)]="attachmentTypeSearchTerm"
                      [ngModelOptions]="{ standalone: true }"
                      (input)="onSearchAttachmentType()"
                    />
                  </li>
                  <li class="mb-2 d-flex justify-content-between">
                    <div>
                      <button class="btn btn-sm btn-success me-2" (click)="selectAll()">Select All</button>
                      <button class="btn btn-sm btn-danger" (click)="clearAll()">Clear All</button>
                    </div>
                  </li>

                  @for (type of attachmentType; track type.id) {
                    <li class="mb-2">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          [id]="'attachment-' + type.id"
                          [checked]="isAttachmentSelected(type.id)"
                          (change)="onAttachmentToggle(type, $event)">
                        <label class="form-check-label" [for]="'attachment-' + type.id">
                          {{ type.attachmentType }}
                        </label>

                      </div>
                    </li>
                  }
                  @empty {
                    <li class="mt-3">
                      <p class="text-muted text-center">No data found</p>
                    </li>
                  } 
                </ul>
              </div>
            </div>

         </div>
         <div class="col-md-6">
          <!-- Inside your form -->
          <div class="formGroup d-flex gap-2 w-100">
            <label class="form-label">Answer Type</label>
          
            <div class="d-flex align-items-start gap-2 flex-grow-1">
              <div class="dropdown w-100">
                <button
                  class="btn btn-outline-secondary dropdown-toggle text-start btn-xs w-100"
                  data-bs-toggle="dropdown"
                  data-bs-auto-close="outside"
                  [disabled]="!isEdit">
                  <i class="pi pi-list"></i> Select Answer Types
                </button>
          
                <ul class="dropdown-menu p-3 w-100" style="max-height: 300px;overflow-y: auto;">
                  <li class="mb-2">
                    <div class="row">
                      <div class="col-md-8">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Search"  
                          [(ngModel)]="answerTypeSearchTerm"
                          [ngModelOptions]="{ standalone: true }"
                          (input)="onSearchAnswerType()"
                        />
                      </div>
                      <div class="col-md-4">
                        <div class="d-flex gap-1 mt-1">
                          <button class="btn btn-sm btn-success me-2" (click)="selectAllAnswerType()">Select All</button>
                          <button class="btn btn-sm btn-danger" (click)="clearAllAnswerType()">Clear All</button>
                        </div>
                      </div>
                    </div>
                    
                    
                  </li>
          
                  @for (type of answerTypeList; track type.id) {
                    <li class="mb-2">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          [id]="type.id"
                          [checked]="isAnswerTypeSelected(type.id)"
                          (change)="onAnswerTypeToggle(type, $event)">
                        <label class="form-check-label" [for]="type.id">
                          {{ type.answerTypeName }}
                        </label>
                      </div>
                    </li>
                  }
                  @empty {
                    <li class="mt-3">
                      <p class="text-muted text-center">No data found</p>
                    </li>
                  } 
                </ul>
              </div>
              <button type="button" class="btn btn-primary btn-xs" (click)="openAnswerModal()" [disabled]="!isEdit">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          
          

          <div class="card p-2" style="height:134px">
            <div class="table-responsive" style="max-height: 150px; overflow-y: auto;">
              <table class="table mb-0">
                <tbody>
                  @for (type of answerTypeListFromForm; track type.answerTypeId) {
                    <tr>
                      <td>{{ type.answerTypeName }}</td>
                      <td class="text-end">
                        @if (!isEdit) {
                          <span
                          class="badge"
                          [ngClass]="type.status ? 'status-active' : 'status-inactive'"
                          style="cursor: pointer;"
                          (click)="statusUpdateAnswertype(type)"
                        >
                          {{ type.status ? 'Active' : 'Inactive' }}
                        </span>
                        }

                      </td>
                    </tr>
                  }
                  @empty {
                    <div class="h-100">
                      <p class="text-center text-muted">No answer type selected</p>
                    </div>
                      
                    
                  }
                </tbody>
              </table>
            </div>
          </div>
          

         </div>
       </div>

<!-- Media Type Section -->
<div class="mb-4">

  <!-- Media Form Array Section -->
  <div class="row" formArrayName="mediaRequired">
    @for (attachment of selectedAttachments; let i = $index; track i){
      <div class="col-md-6 mb-2" [formGroupName]="i">
        <div class="border p-3 rounded">
          <div class="row">
            <!-- Size and Number -->
            <div class="col-md-4">
              <div class="d-flex gap-3">  
                <p class="fw-bold mb-0">{{ attachment.attachmentType }} Attachment</p>
                @if (!isEdit){
                  <span
                  class="badge mt-1"
                  [ngClass]="attachment.status ? 'bg-success' : 'bg-secondary'"
                  style="cursor: pointer;" (click)="statusUpdateAttachmentType(attachment)" >
                  {{ attachment.status ? 'Active' : 'Inactive' }}
                </span>
                }
                
              </div>
              
              <div class="mb-3">
                <label class="form-label">Max Size (MB)</label>
                <input
                  type="number"
                  class="form-control mb-2"
                  formControlName="maximumSize"
                  min="1"
                  [readonly]="!isEdit" />

                <label class="form-label">Max Number</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="maximum"
                  min="1"
                  [readonly]="!isEdit" />

                <small class="text-danger" *ngIf="issueTypeForm.get('photo_max_numbers')?.errors?.['max']">
                  Max number cannot exceed 4.
                </small>
              </div>
            </div>

            <!-- Media Type List -->
            <div class="col-md-8 d-flex flex-column">
              <div class="d-flex justify-content-end gap-2 mb-2">
                <div class="dropdown w-100">
                  <button
                    class="btn btn-outline-secondary dropdown-toggle btn-xs"
                    type="button"
                    data-bs-toggle="dropdown"
                    data-bs-auto-close="outside"
                    [disabled]="!isEdit">
                    <i class="pi pi-list-check"></i> Select Media Types
                  </button>

                  <ul class="dropdown-menu p-3 dropdown-menu-container" style="max-height: 250px;overflow-y: auto;">
                      <li class="mb-2">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Search"  
                          [(ngModel)]="mediatypeSearchTerm"
                          [ngModelOptions]="{ standalone: true }"
                          (input)="onSearchMediaType()"
                        />
                      </li>
                      <li class="mb-2 d-flex justify-content-between">
                        <div>
                          <button class="btn btn-sm btn-success me-2" (click)="selectAllMediaType(i)">Select All</button>
                          <button class="btn btn-sm btn-danger" (click)="clearAllMediaType(i)">Clear All</button>
                        </div>
                        <div>
                          <small>Mandatory</small>
                        </div>
                      </li>

                      @for (type of mediaTypeList; track type.id) {
                        <li class="mb-2">
                          <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check">
                              <input
                                class="form-check-input me-2"
                                type="checkbox"
                                [id]="'media-' + type.id"
                                 [checked]="isMediaTypeChecked(i, type.id)"
                                (change)="onMediaTypeChange(i, type, $event)">
                              <label class="form-check-label">
                                {{ type.description }}
                              </label>
                            </div>

                            <!-- Mandatory Switch -->
                            <div class="form-check form-switch ms-2">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                [id]="'mandatory-toggle-' + type.id"
                                 [disabled]="!isMediaTypeChecked(i, type.id)" 
                                 [checked]="isMandatoryChecked(i, type.id)"
                                (change)="onMandatoryToggle(i, type, $event)">
                              <label
                                class="form-check-label small text-muted"
                                [for]="'mandatory-toggle-' + type.id">
                               
                              </label>
                            </div>
                          </div>
                        </li>
                      }
                      @empty {
                        <li class="mt-3">
                          <p class="text-muted text-center">No data found</p>
                        </li>
                      } 

                  </ul>
                </div>

                <button class="btn btn-primary btn-xs" type="button" (click)="openMediaModal()" [disabled]="!isEdit">
                  <i class="fas fa-plus"></i>
                </button>
              </div>

              <!-- Selected Tags -->
            <div class="card p-2" style="height: 172px;">
              <div class="table-responsive" style="max-height: 150px; overflow-y: auto;">
                <table class="table mb-0">
                  <tbody>
                    @for(type of selectedMediaTypeList[i]; let j = $index; track j){
                      <tr>
                        <td>{{ type.description }}</td>
                        <td class="text-end">
                          @if (!isEdit) {
                            <span
                              class="badge"
                              [ngClass]="type.status ? 'status-active' : 'status-inactive'"
                              style="cursor: pointer;"
                              (click)="statusUpdateMediatype(type,i)"
                            >
                              {{ type.status ? 'Active' : 'Inactive' }}
                            </span>
                          }
                        </td>
                      </tr>
                      
                    }
                    @empty {
                      <div class="h-100">
                        <p class="text-center text-muted">No media type selected</p>
                      </div>
                    }
                  </tbody>
                </table>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>



      <!-- Submit Button -->
      <div class="d-flex gap-2 justify-content-end">
        @if(isEdit){
          <button class="btn btn-success" type="submit" (click)="submit()">Save Changes</button>
        }
          <button class="btn" [ngClass]="isEdit?'btn-danger':'btn-primary'" type="button" (click)="isEdit ? cancelEdit(): enableEdit()">{{isEdit?'Cancel':'Edit'}}</button>
        
      </div>
    </form>
  </div>
</div>


<!-- Modal  Answer type---->

@if(isAnswerModalVisible){

  <app-add-answer-type (close)="closeModal()" (created)="addNewAnswerTypeToList($event)" ></app-add-answer-type>

}

<!---------- Modal Media Type------ -->

@if(isMediaModalVisible){

  <app-add-media-type (close)="closeMediaModal()" (created)="addNewMediaTypeToList($event)"></app-add-media-type>

}