/* You can add global styles to this file, and also import other style files */
@import "../public/css/overlay.css";
@import "primeicons/primeicons.css";

html, body { height: 100vh; }
body{
    margin: 0; 
    font-family: "Nunito Sans", sans-serif;
}

i{
  cursor: pointer;
}


/* primeicons */

.pi-pen-to-square{
  color: #5f5f5f;
}

.pi-trash{
  color: #dc3545;
}


/* breadcrumb */

.breadcrumb{
  font-size: .8rem;
}

.breadcrumb li a{
  text-decoration: none;
}


/* pagination */

/* .pagination {
  display: flex;
  list-style: none;
  gap: 5px;
  padding: 0;
}

.page-item {
  cursor: pointer;
}

.page-item.disabled .page-link {
  pointer-events: none;
  color: #aaa;
} */

.custom-pagination {
  .page-item {
    margin: 0 4px;

    .page-link {
      color: #007bff;
      border: 1px solid #dee2e6;
      border-radius: 6px;
      padding: 6px 12px;
      font-weight: 500;
      transition: all 0.3s ease;
      cursor: pointer;
    }

    &.active .page-link {
      background-color: #007bff;
      color: white;
      border-color: #007bff;
    }

    &.disabled .page-link,
    .disabled-link {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}



/* delete btn */

.delete-btn{
  padding: .5rem .4rem;
  height: 2rem;
  width: 2rem;
  background-color: #f82f2f;
  font-size: .8rem;
  border: none;
  border-radius: 9px;
}

.delete-btn:disabled{
  background-color: #f16464;
  cursor: not-allowed;
}

.delete-btn:disabled, .delete-btn:disabled i{
  background-color: #a5a5a5;
  cursor: not-allowed;
}


/* tooltip */

.tooltip-container {
  display: inline-block;
  position: relative;
}

.tooltip-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
}

.tooltipText {
  position: absolute;
  bottom: 119%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 6px 6px;
  border-radius: 4px;
  font-size: 10px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.tooltipText::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

.tooltip-button:hover .tooltipText {
  opacity: 1;
}


