<nav class="nav-container">
  <div class="nav-logo">
    <img src="images/logo-vf.png" alt="logo" />
    <!-- <h1>OICE FIRST</h1> -->
  </div>
  <ul class="nav-list" [class.nav-active]="isMenuOpen">

    
      @if (isLoggedIn) {
        <li>
          <a routerLink="/user/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
      } @else {
        <li>
          <a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
      }

    

    <!-- <li>
      <a *ngIf="isloggedin; else docLink" routerLink="/user/documents" routerLinkActive="active-link">Documents</a>
      <ng-template #docLink>
        <a routerLink="/documents" routerLinkActive="active-link">Documents</a>
      </ng-template>
    </li>

    <li>
      <a *ngIf="isloggedin; else aboutLink" routerLink="/user/about-us" routerLinkActive="active-link">About Us</a>
      <ng-template #aboutLink>
        <a routerLink="/about-us" routerLinkActive="active-link">About Us</a>
      </ng-template>
    </li>

    <li *ngIf="isloggedin">
      <a routerLink="/user/qr-scanner" routerLinkActive="active-link">QR</a>
    </li>

    <li *ngIf="isloggedin">
      <a routerLink="/user/profile" routerLinkActive="active-link">
        <i class='bx bxs-user'></i>
      </a>
    </li> -->

    <li>
      @if(isLoggedIn){
        <a class="action-btn" (click)="logout()">Sign Out</a>
      }
      @else {
        <a class="action-btn" routerLink="/authentication/login">Sign In</a>
      }
    </li>
  </ul>


  <div class="nav-toggle" (click)="toggleMenu()">
    <span class="nav-line" [class.nav-toggle-active]="isMenuOpen"></span>
    <span class="nav-line" [class.nav-toggle-active]="isMenuOpen"></span>
    <span class="nav-line" [class.nav-toggle-active]="isMenuOpen"></span>
  </div>
</nav>

<!-- Overlay -->
<div class="nav-overlay" [class.active]="isMenuOpen" (click)="toggleMenu()"></div>

<!-- Mobile Menu -->
<div class="nav-menu" [class.nav-menu-active]="isMenuOpen">
  <ul class="nav-menu-list">
    @if(isLoggedIn){
    <li routerLinkActive="active-link" routerLink="/user/home" [routerLinkActiveOptions]="{ exact: true }"
      (click)="onMenuClick()">
      <i class="pi pi-home me-2"></i><a>Home</a>
    </li>
    <li routerLinkActive="active-link" routerLink="/user/qr-scanner" (click)="onMenuClick()">
      <i class="pi pi-qrcode me-2"></i><a>QR Scanner</a>
    </li>
    <li routerLinkActive="active-link" routerLink="/user/profile" (click)="onMenuClick()">
      <i class="pi pi-user me-2"></i><a>Profile</a>
    </li>
    <li (click)="logout()">
      <i class="pi pi-sign-out me-2"></i><a>Logout</a>
    </li>
    }
    @else{
    <li routerLinkActive="active-link" routerLink="" [routerLinkActiveOptions]="{ exact: true }"
      (click)="onMenuClick()">
      <i class="pi pi-home me-2"></i><a>Home</a>
    </li>
    <li (click)="onMenuClick()" routerLink="/authentication/login">
      <i class="pi pi-sign-in me-2"></i><a >Sign In</a>
    </li>
    }

  </ul>

</div>

<main>
    <div class="p-4">
        <router-outlet></router-outlet>
    </div>
</main>
