/* ======================== Navigation bar ==================== */

main{
  background: #fff;
}

/* Navbar Container */
.nav-container {
    padding: 16px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:2;
    position: relative;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
  
  /* Logo Section */
  .nav-logo {
    display: flex;
    align-items: center;
  }
  
  .nav-logo img {
    height: 35px;
    width: auto;
    margin-right: 10px;
  }
  
  .nav-logo h1 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    background: linear-gradient(0deg, rgba(252,199,55,1) 13%, rgba(252,199,55,1) 29%, rgba(185,135,0,1) 98%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-family: "Saira";
    
  }

  .nav-list {
    list-style: none;
    display: flex;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0px;
  }
  
  .nav-list li {
    margin-left: 1.5rem;
  }
  
  .nav-list li {
    position: relative;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: #000;
    font-size: 85%;
    padding: 4px 8px;
    border-radius: 5px;
    text-transform: uppercase;
    position: relative;
    font-weight: 500;
    letter-spacing: 1px;
  }
  

  
  /* Hamburger Menu */
  .nav-toggle {
    display: none;
    cursor: pointer;
  }
  
  .nav-line {
    width: 25px;
    height: 2px;
    background-color: #1f1f1f;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
  }
  
  /* Active Menu Toggle */
  .nav-toggle-active {
    transform: rotate(45deg);
  }
  
  .nav-toggle-active:nth-child(2) {
    width: 0px;
  }
  
  .nav-toggle-active:nth-child(1) {
    transform: translateY(13px) rotate(43deg);
  }
  
  .nav-toggle-active:nth-child(3) {
    transform: translateY(-5px) rotate(137deg);
  }
  
  /* Mobile Menu */
  .no-scroll {
  overflow: hidden;
  height: 100vh;
  }
  
  /* Overlay effect when menu is active */
  .nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
  }
  
  .nav-overlay.active {
  display: block;
  }
  
  /* Mobile Menu */
  /* Disable scrolling when menu is open */
  .no-scroll {
  overflow: hidden;
  height: 100vh;
  }
  
  /* Overlay effect when menu is active */
  .nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
  }
  
  .nav-overlay.active {
  display: block;
  }
  
  /* Mobile Menu */
  .nav-menu {
  position: fixed;
  top: 0;
  left: -300px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;
  padding: 20px 0px 0px 20px;
  background: rgba(255, 255, 255);
  transition: all 0.5s ease-in;
  z-index: 1000;
  }
  
  
  
  .nav-menu-active {
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  /* Make the menu list scrollable */
  .nav-menu-list {
  padding: 0;
  list-style: none;
  height:100%; 
  overflow-y: auto;
  display: block;
  align-content: center;
  }
  
  /* Hide scrollbar for a cleaner look */
  .nav-menu-list::-webkit-scrollbar {
  width: 5px;
  }
  
  .nav-menu-list::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
  }
  
  .nav-menu-list::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  }
  
  /* Menu items */
  .nav-menu-list li {
  margin-bottom: 7px;
  padding: 12px 10px;
  background: #fcfcfc;
  border-radius: 13px 0px 0px 13px;
  }
  
  .nav-menu-list li a {
  text-decoration: none;
  color: #2b2b2b;
  font-weight: 500;
  font-size: 85%;
  padding: 4px 8px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  }
  
  .nav-menu-list li:hover{
  background: #FCC737;
  color: #fff;
  }
  
  .nav-menu-list li:hover a{
  background: #FCC737;
  color: #fff;
  }
  
  
  .nav-menu-list li.active-link {
  background: #FCC737;
  color: #fff;
  }
  
  .nav-menu-list li.active-link a {
  color: #fff;
  font-weight: 600;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 1460px) {
    .nav-toggle {
      display: block;
    }
    .nav-list {
      display: none;
    }
  }
  
  
  
  
  /* ========================= */
  
  .action-btn{
      position: relative;
      padding: 6px 14px;
      border-radius: 6px;
      border: none;
      color: #000000;
      cursor: pointer;
      background-color: #FCC737;
      transition: all 0.2s ease;
      margin-top: -10px;
      font-weight: 500;
      font-size: .9rem;
      text-transform: uppercase;
  }
  
  .action-btn:active {
    transform: scale(0.96);
  }
  
  .action-btn:before,
  .action-btn:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  
  .action-btn:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #FCC737 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #FCC737 20%, transparent 30%),
      radial-gradient(circle, #FCC737 20%, transparent 20%),
      radial-gradient(circle, #FCC737 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #FCC737 15%, transparent 20%),
      radial-gradient(circle, #FCC737 20%, transparent 20%),
      radial-gradient(circle, #FCC737 20%, transparent 20%),
      radial-gradient(circle, #FCC737 20%, transparent 20%),
      radial-gradient(circle, #FCC737 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
  }
  
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  .action-btn:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #FCC737 20%, transparent 20%),
      radial-gradient(circle, #FCC737 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #FCC737 15%, transparent 20%),
      radial-gradient(circle, #FCC737 20%, transparent 20%),
      radial-gradient(circle, #FCC737 20%, transparent 20%),
      radial-gradient(circle, #FCC737 20%, transparent 20%),
      radial-gradient(circle, #FCC737 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
  }
  
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }